@if(User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("Cart")
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <!-- User@gmail.com -->
        @User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value
            <img src="https://localhost:7003/avatar" width="50" alt="User" class="rounded nav-color" />
            <!-- Не работает -->
            <!--<img src="images/default-profile-picture.png" width="30"
                 alt="User" class="rounded nav-color" />
            <!-- <i class="fa-regular fa-circle-user"></i> -->
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <span class="dropdown-item-text">
                    <img src="https://localhost:7003/avatar" width="50" alt="User" class="rounded" />
                    @User.Claims.FirstOrDefault(c => c.Type.Equals("Name", StringComparison.OrdinalIgnoreCase))?.Value
                </span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form id="logoutForm" class="form-inline">
                    <button id="logout" type="submit" class="nav-link
                                    btn btn-link text-dark">
                        <a asp-controller="Identity" asp-action="LogOut">Logout</a>
                    </button>
                </form>
            </li>
        </ul>

    </div>
}
else{
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-user-ninja"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item" asp-controller="Identity" asp-action="Login">Login</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <a class="dropdown-item" asp-controller="Identity" asp-action="Register">Register</a>
            </li>
        </ul>
    </div>
}
